# Hedera operator (consumer app constructs the Client)
HEDERA_OPERATOR_ID=
HEDERA_OPERATOR_KEY=

# SaucerSwap plugin
# Request an API key at support@saucerswap.finance
SAUCERSWAP_API_KEY=
SAUCERSWAP_NETWORK=mainnet
